.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 6px;
  border-radius: 50%;
  vertical-align: middle;
}


.dot-canceled {
  background-color: gray;
}

.dot-complete {
  background-color: #28a745; 
}

.dot-inprogress {
  background-color: gold; 
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
