<h4>Internal server error</h4>>

@if(error){
    <h5 class="text-danger">Błąd: {{error}}</h5>
    <p class="font-weight-bold">Ten błąd wynika z API</p>
    <p>Skontaktuj się z administratorem systemu</p>
    <ol>
        <li>Otwórz narzędzia programistyczne i sprawdź żądania sieciowe.</li>
        <li>Sprawdź url błędu żądania</li>
        <li>Odwzoruj błąd w postmanie.</li>
    </ol>
    <p class="font-weight-bold">Jeśli błąd występuje w API, skontaktuj się z administratorem systemu.</p>
    <code class="mt-5" style="background-color: whitesmoke;"></code>
    {{error.details}}
}