<!-- order-detail.component.html -->
<div class="container" *ngIf="order">
  <h2>Szczegóły zamówienia - ID: {{ order.orderId }}</h2>
  <p><strong>Użytkownik:</strong> {{ order.userName }}</p>
  <p><strong>Data:</strong> {{ order.orderDate | date:'short' }}</p>
  <p><strong>Suma całkowita:</strong> {{ order.totalAmount | currency: 'PLN ' }}</p>
  <p><strong>Status:</strong> {{ order.orderStatus }}</p>

  <h4>Zamówione produkty</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nazwa produktu</th>
        <th>Ilość</th>
        <th>Cena za szt.</th>
        <th>Suma całkowita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order.orderItems">
        <td>{{ item.productName }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.unitPrice | currency: 'PLN ' }}</td>
        <td>{{ item.totalPrice | currency: 'PLN ' }}</td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-secondary" routerLink="/orders">Back to Orders List</button>
</div>
