.container {
  margin-top: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}


th, td {
  padding: 8px 12px;
  border: 5px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
}

button {
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .toolbar input {
    padding: 5px;
    font-size: 14px;
  }

  .toolbar button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }

.actions-cell button {
  margin-left: 35px; /* Adjust this value as needed for spacing */
}

.actions-cell .fas.fa-trash {
  color: red; /* Optional: Add color to differentiate delete button */
}

.actions-cell .fas.fa-edit, .actions-cell .fas.fa-save {
  color: green; /* Optional: Add color to differentiate edit/save button */
}
