body {
  padding-top: 56px; /* Adjust this value to ensure the nav-bar doesn't overlap with content */
}

.toolbar {
  margin-top: 20px; /* Adjust this value as needed */
}

.navbar-title {
  margin-right: auto;
  font-size: 24px;
}

.form-control {
  margin-right: 10px;
}

.navbar-nav {
  margin-left: 0; /* Remove any left margin */
}

  .navbar-nav .nav-item {
    margin-right: 15px; /* Adjust this value to space out the nav items as needed */
  }
